<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Punto loopback</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </head>
  <body>
    <p>Parámetros HTTP (<strong>{{ method }}</strong>):</p>
    <table border="1">
      <tr>
        <th>Campo</th>
        <th>Valor</th>
      </tr>
      {{#each values}}
      <tr>
        <td>{{ @key }}</td>
        <td>{{ this }}</td>
      </tr>
      {{else}}
      <tr>
        <td colspan="2">
          <em>Ninguno</em>
        </td>
      </tr>
      {{/each}}
    </table>

    <br>
    <p>Petición realizada:</p>
    <pre>{{ request }}</pre>
  </body>
</html>